---
import { Image } from 'astro:assets';
import { FEATURES_DATA } from '../data/features-data';

interface Props {
	page: keyof typeof FEATURES_DATA;
	reversed?: boolean;
}

const { page, reversed = false } = Astro.props;
const data = FEATURES_DATA[page];

if (!data) {
	throw new Error(`No se encontró data de Features para la página: ${page}`);
}

const { eyebrow, title, description, image, alt, items } = data;
---

<div class="max-w-container mx-auto grid w-[95%] gap-10 lg:grid-cols-2">
	<div class={`flex flex-col gap-10 ${reversed && 'lg:order-last'} `}>
		<div class="flex flex-col gap-4">
			<span class="text-primary font-bold tracking-wide">
				{eyebrow}
			</span>
			<h2 class="text-3xl leading-tight font-bold text-black md:text-4xl lg:text-5xl">
				{title}
			</h2>
			<p class="text-black lg:text-lg">
				{description}
			</p>
		</div>

		<div class="grid gap-6 sm:grid-cols-2">
			{
				items.map((item) => (
					<div class="flex flex-col gap-2">
						<Image src={item.icon} alt={`Icono de ${item.title}`} width={24} height={24} class="h-8 w-8" />
						<h3 class="text-lg font-bold text-black">{item.title}</h3>
						<p class="leading-relaxed text-black">{item.description}</p>
					</div>
				))
			}
		</div>
	</div>

	<Image
		src={image}
		alt={alt}
		class="h-full max-h-[600px] w-full rounded-2xl object-cover shadow-lg md:aspect-video lg:aspect-square"
		width={600}
		height={600}
	/>
</div>
