---
import { HERO_DATA } from '../data/hero-data';

interface Props {
	page: keyof typeof HERO_DATA;
}

const { page } = Astro.props;

const data = HERO_DATA[page];

if (!data) {
	throw new Error(`No se encontró información del Hero para la página: ${page}`);
}

const { title, span, description, backgroundImage } = data;

const hasContent = title || description;
---

<section
	class="relative flex h-[400px] w-full items-center bg-cover bg-center bg-no-repeat md:h-[684px]"
	style={`background-image: url(${backgroundImage.src})`}>
	{hasContent && <div class="absolute inset-0 z-0 bg-linear-to-r from-[#000]/60 to-transparent" />}

	{
		hasContent && (
			<div class="max-w-container relative z-10 mx-auto w-11/12">
				<div class="flex max-w-[684px] flex-col gap-4">
					{title && (
						<h1 class="max-w-[600px] text-4xl text-white uppercase md:text-7xl lg:text-7xl">
							{title}
							{span && <span class="text-primary"> {span}</span>}
						</h1>
					)}

					{description && <p class="max-w-[540px] text-white">{description}</p>}
				</div>
			</div>
		)
	}
</section>
