---
import { Image } from 'astro:assets';
import type { HeroData } from '@interfaces/components';

interface Props extends HeroData {}

const { title, span, description, backgroundImage, altImage } = Astro.props;
---

<section class="relative flex h-[420px] w-full items-center overflow-hidden md:h-[684px]" id="hero">
	<Image
		src={backgroundImage}
		alt={altImage}
		class="absolute inset-0 z-0 h-full w-full object-cover"
		width={1920}
		loading="eager"
	/>

	<div class="absolute inset-0 z-10 bg-linear-to-r from-[#000000]/60 via-[#000000]/30 to-transparent"></div>

	<div class="max-w-container relative z-20 mx-auto w-[95%]">
		<div class="flex max-w-[600px] flex-col gap-2">
			{
				title && (
					<h1 class="text-4xl leading-tight text-white uppercase drop-shadow-lg md:text-6xl lg:text-7xl">
						{title}
						{span && <span class="text-primary block"> {span}</span>}
					</h1>
				)
			}

			{description && <p class="max-w-[540px] text-white">{description}</p>}
		</div>
	</div>
</section>
