---
import type { PageSEO } from '@interfaces/shared';

import '@styles/global.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/700.css';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

interface Props extends PageSEO {}

const { title, description, image } = Astro.props;

const BASE = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href={`${BASE}/favicon.svg`} />

		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="author" content="Terramovil" />
		<meta name="keywords" content="viajes, transporte terrestre, Terramovil, Perú, bus, pasajes" />
		<meta name="robots" content="index, follow" />

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content={new URL(image, Astro.url)} />
	</head>

	<body class="flex min-h-screen w-full flex-col bg-gray-50 text-gray-900 antialiased">
		<Header />

		<main class="grow overflow-x-hidden">
			<slot />
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	html {
		scroll-behavior: smooth;
		scrollbar-width: none;
	}

	::-webkit-scrollbar {
		width: 10px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 5px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
</style>
